body {
    background: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    padding: 0;
    display: block;
    margin: 24px 50px;
    width: auto;
}

li {
    max-width: 400px;
    min-width: 400px;
    content: "";
    margin: auto;
    display: table;
    clear: both;
    padding: 10px 5px 0px 5px;
    height: 30px;
    width: auto;
    background-color: #318eb9;
    color: white;
    border-radius: 10px;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 50ms + var(--animation-order) * var(--animation-order) * 5ms );
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

li + li {
    margin-top: 16px;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}


.align-left {
    text-align: left;

}

.align-right {
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

search {
    width: 100%;
    position: relative;
}

.searchTerm {
    float: left;
    width: 242px;
    border: 3px solid #318eb9;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: grey;
}

.searchTerm:focus{
    color: #318eb9;
}

.searchButton {
    float: left;
    width: 40px;
    height: 36px;
    border: 1px solid #318eb9;
    background: #318eb9;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding-top: 3px;

}

.wrap{
    width: fit-content;
    margin: auto;
    height: 36px;

}
svg{
    fill: white;
}